body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #58584f;
    color: white;
    padding: 1rem 0;
    text-align: center;
}

h1 {
    margin: 0;
}

main {
    max-width: 800px;
    margin: 2rem auto;
    padding: 1rem;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

section {
    margin-bottom: 2rem;
}

h2 {
    color: #2874f0;
}

h3 {
    color: #2b2b2b;
    margin-bottom: 0.5rem;
}

ul {
    list-style-type: disc;
    margin: 0;
    padding-left: 1.5rem;
}

footer {
    text-align: center;
    padding: 1rem 0;
    background-color: #595e65;
    color: white;
    position: fixed;
    width: 100%;
    height: 1.5rem;
    bottom: 0cqmax;
}

a {
    color: #2874f0;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    /* border: 1px solid red; */
}

body {
    background-color: #f1f3f6;
}

nav {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px 5%;
    background-color: #969eab;
}

.nav-left {
    display: flex;
    align-items: center;
    gap: 20px;
}

input {
    width: 40vw;
    padding: 10px;
}

button {
    padding: 10px 20px;
    width: 150px;
    color: rgb(246, 246, 252);
    background-color: rgb(21, 20, 20);
    font-weight: 600;
    border: none;
}

.search {
    position: relative;
}

i {
    position: absolute;
    top: 30%;
    right: 0;
    color: rgb(75, 75, 255);
    height: 100%;
    width: 30px;

}
.cartItmPMBtn {
    width: 50px;
    border: 2px solid #6083b7;
    border-radius: 50%;
}
.cartItmListInviewCart .cartItmSfLRmBtn:hover{
    cursor: pointer;
}
/* for popup remove and confermation */
.popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    transition: opacity 0.5s ease-in-out, visibility 0.5s ease-in-out;
    visibility: hidden;
    opacity: 0;
  }
  
  .popup.hidden {
    opacity: 0;
    visibility: hidden;
  }
  
  .popup.visible {
    opacity: 1;
    visibility: visible;
  }
  




@media screen and (max-width : 890px) {
    footer {
        font-size: 11px;
        padding: 0 5px;
    }

    input {
        width: 40vw;
        padding: 5px;
        font-size: 12px;
    }

    nav button {
        padding: 5px;
        width: 100px;
        font-size: 12px;
    }

    .nav-left {
        gap: 10px;
    }
}

@media screen and (max-width : 670px) {
    nav img {
        height: 20px;
    }

    input,
    nav button {
        font-size: 8px;
    }

}